@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono&display=swap");

.firstSection {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1em;
}

.rightContent {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 1em;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 13;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    grid-template-rows: 0.8fr repeat(5, 1fr);
  }
}

.midCont {
  grid-column: 2 / span 4;
  grid-row: 3 / span 1;
  font-weight: lighter;
  font-size: 16px;

  @media screen and (max-width: 768px) {
    grid-row: 3 / span 1;
  }
}

.textCont {
  grid-row: 2 / span 1;
  display: flex;
  grid-column: 2 / span 4;
  width: 100%;
  justify-content: space-around;
  .spanCol {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    font-size: 24px;
    grid-row: 2 / span 1;
  }

  span {
    font-weight: bold;
    font-size: 36px;
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  .fullstack {
    background: #5562ff;
    box-shadow: rgba(85, 98, 255, 1) 0px 0px 29px 0px;
    border-radius: 50px;
    width: 304px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 32px;
    @media screen and (max-width: 768px) {
      font-size: 24px;
      grid-row: 2 / span 1;
      width: 200px;
      height: 80px;
    }
  }
}

.rowButton {
  grid-row: 4 / span 1;
  grid-column: 2 / span 4;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    grid-row: 4 / span 1;
    grid-column: 2 / span 5;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  @keyframes pulseVRed {
    0% {
      box-shadow: rgba(254, 72, 28, 1) 0px 0px 5px 0px;
    }
    50% {
      box-shadow: rgb(213, 43, 0) 0px 1px 20px 0px;
    }
    100% {
      box-shadow: rgba(254, 72, 28, 1) 0px 0px 5px 0px;
    }
  }

  .hireMe {
    width: 234px;
    height: 100px;
    background: #fe481c;
    color: white;
    border-radius: 50px;
    font-size: 32px;
    font-weight: 700;
    box-shadow: rgba(254, 72, 28, 1) 0px 0px 5px 0px;
    &:active {
      box-shadow: none;
    }

    &:hover {
      animation: pulseVRed 3s ease-in-out 0s infinite;
    }

    @media screen and (max-width: 1500px) {
      width: 200px;
      height: 80px;
      font-size: 24px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  @keyframes pulseVBlue {
    0% {
      box-shadow: rgba(143, 215, 255, 1) 0px 0px 5px 0px;
    }
    50% {
      box-shadow: rgb(0, 166, 255) 0px 1px 20px 0px;
    }
    100% {
      box-shadow: rgba(143, 215, 255, 1) 0px 0px 5px 0px;
    }
  }

  .timeline {
    width: 234px;
    height: 100px;
    background: linear-gradient(90deg, #7c86ff 0%, #8db8ff 100%);
    border-radius: 50px;
    color: white;
    font-size: 32px;
    font-weight: 700;

    box-shadow: rgba(143, 215, 255, 1) 0px 0px 5px 0px;
    &:active {
      box-shadow: none;
    }

    &:hover {
      animation: pulseVBlue 3s ease-in-out 0s infinite;
    }

    @media screen and (max-width: 1500px) {
      width: 200px;
      height: 80px;
      font-size: 24px;
    }
  }
}

// mouse
.mouseCont {
  grid-row: 5 / span 1;
  grid-column: 6 / span 2;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;

  @media screen and (max-width: 768px) {
    grid-row: 5 / span 1;
    grid-column: 1 / span 6;
  }
}

// animated mouse scroll down button
.movingmouseholder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: 768px) {
    left: 45%;
  }
}

.movingmouseholder .mouse {
  width: 36px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  border: 2px solid #000000;
}

.movingmouseholder .mousebutton {
  background-color: #000000;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: relative;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 0.5s infinite alternate;
}

.movingmouseholder .text {
  color: #33cc66;

  font-size: 12px;
  line-height: 1em;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}

.textGradient {
  background: linear-gradient(30deg, #c850c0, #22b78a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  background: lightblue;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
}

.deckPos {
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 300px / 2);
}

.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck > div {
  touch-action: none;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
