.leftSide {
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
  background: rgb(21, 28, 31, 0.8);
  grid-column: 7 / span 5;
  grid-row: 2 / span 3;
  height: 100%;
  // border-top: solid 25px rgb(197, 197, 197);

  padding-top: 1em;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu Mono", monospace;
  padding-left: 0.5em;
  .typeBar {
    display: flex;
    float: row;
    color: rgb(128, 212, 64);
  }

  @media screen and (max-width: 768px) {
    grid-column: 1 / span 6;
    grid-row: 6 / span 1;
  }
}

.typewriter {
  color: whitesmoke;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(128, 212, 64); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 0.5s steps(2, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(128, 212, 64);
  }
}

.result {
  color: whitesmoke;
  opacity: 0;
  animation: change-opacity 0.1s forwards 0.7s;
}

@keyframes change-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
